<div id="box1">
	<div id="login">
		<h2><span>Client</span> Login</h2>
		<div class="content">
			<form method="post" action="">
				<fieldset>
				<input id="login-username" type="text" name="username" value="Username" class="input-text" />
				<input id="login-password" type="password" name="password" value="Password" class="input-text" />
				<input id="login-submit" type="submit" value="Login" />
				<a href="#">Oublié votre mot de passe?</a>
				</fieldset>
			</form>
		</div>
	</div>
	<div id="banner"><a href="#"><img src="/images/homepage05.jpg" alt="" width="668" height="164" /></a></div>
</div>