<div id="footer" class="container">
	<p>(c) 2011 <a href="http://www.urgenceattente.info">UrgenceAttente.info</p>
	
		<a href="http://ca.linkedin.com/in/louisobureau">
		<img src="http://www.linkedin.com/img/webpromo/btn_liprofile_blue_80x15.png" width="80" height="15" border="0" alt="View Louis-Olivier Bureau's profile on LinkedIn">
		    </a>
</div>