<div id="header" class= "container">
	<div id="logo">
			<h1>Attente dans les urgences du Québec</h1 >
			<h2><%= link_to "Choisir une autre région", contact_path %></h2>
	</div>
	<div id="menu">
		<ul>
			<li class="first"><%= link_to "Soumette Temps d'attente", login_path %></li>
			<li><%= link_to "Blog", 'www.' %></li>
			<li><%= link_to "Contactez-Nous", contact_path %></li>
		</ul>
	</div>
</div>

